* {
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.game {
  display: grid;
  grid-template-columns: 300px 1050px 100px;
  gap: 2rem;
  align-items: start;
  flex: 1;
}

.ships-button-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 500px;
  align-items: center;
}

.all-ships-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
}
.ships {
  display: flex;
  gap: 0rem;
  padding: 0rem;
  border-left: 0.5px solid black;
}

.ships.selected {
  outline: 4px solid aqua;
}
.highlight-horizontal {
  box-shadow:
    0 -2px 0 red,
    0 2px 0 red;
}
.highlight-vertical {
  box-shadow:
    -2px 0 0 red,
    2px 0 0 red;
}
.highlight-left {
  box-shadow:
    -2px 0 0 red,
    0 -2px 0 red,
    0 2px 0 red;
}
.highlight-right {
  box-shadow:
    2px 0 0 red,
    0 -2px 0 red,
    0 2px 0 red;
}

.highlight-top {
  box-shadow:
    -2px 0 0 red,
    2px 0 0 red,
    0 -2px 0 red;
}
.highlight-bottom {
  box-shadow:
    -2px 0 0 red,
    2px 0 0 red,
    0 2px 0 red;
}
.ships > div {
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  border-top: 0.5px solid black;
  width: 50px;
  height: 50px;
}

.rotate {
  display: flex;
  flex-direction: column;
}

.buttons {
  padding-top: 1rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
button {
  border-radius: 0.8rem;
  border: none;
  background-color: lightblue;
  padding: 0.4rem 0.6rem;
}
.reset-ships {
  
}
.boards {
  display: flex;
  gap: 2.5rem;
}

.all-scores {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.scores {
  display: flex;
  gap: 1rem;
}

.scores > div {
  display: flex;
}

.game-board1,
.game-board2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0rem;
  padding: 0rem;

  border-left: 0.5px solid black;
  border-top: 0.5px solid black;
}

.game-board1 > div,
.game-board2 > div {
  width: 50px;
  height: 50px;
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: rgba(214, 4, 4, 0.842);
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: rgb(9, 170, 9);
}
.blue {
  background-color: rgb(30, 126, 236);
}

.hidden {
  display: none;
}
.cleared {
  visibility: hidden;
}